.col-sm-4.col-sm-offset-4
  %h1 About Us
  %p CHKNTNDR was hacked together in Brooklyn, NY.  We wanted a service to connect us with like-minded folk as we travelled for work or play around the globe.
  %p While we are currently focusing on US cities, we certainly have our sights on international locations.
