.col-sm-4.col-sm-offset-4
  %h1 About Us
  %p CHKNTNDR was hacked together in Brooklyn, NY.  We wanted a service to connect us with like-minded folk as we travelled for work or play around the globe.
  %p While we are currently focusing on US cities, we certainly have our sights on international locations.
  %br

  %h2 How it works
  %p 1) Once you have signed up, start by creating a 'reservation' under the 'CREATE' section.
  %small *Note that a 'reservation' is not a traditional dining reservation at a specific restaurant, but is a set of preferences we will use to help match you with peers. Once you are matched, it's up to you and your peers to make dining arrangements!|
  %br
  %br
  %p 2) Select a handful of restaurants you are interested in.
  %p 3) Check your current dining matches, or periodically check back if we don't currently have any matches.
  %p 4) Message a peer you've been matched with and arrange dining together.
  %p 5) Enjoy a meal with a peer.
