.alert-notice {
  background-color: #dff0d8 ;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
  padding: 15px;
}

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    padding: 15px;
 }


.centered {
    text-align: center;
}

.alert {
    margin-bottom: 0px;
}

.thumbnail > img, .thumbnail a > img {
  margin-left: 0px;
  margin-right: 0px;
}

.thumbnail{
  border: none;
}

.checkbox-custom-class{
  display: inline;
  label{
    display: inline;
    .check_boxes{
      visibility: hidden;
    }
  }

}

.restaurant-label.selected{
   border-style: solid;
  }

.navbar{
  margin-bottom: 0px;
}

.nav{
  li{
    padding-top: 0px;
    a{
      //display: inline;
    }
  }
  .hellomessage{
    padding-top: 12px;
  }

}

.primary{
  color: navy;
}


.text-primary {
  color: #3c636b;
}

a.text-primary:hover {
  color: #9db1b5;
}

a {
  color: #3c636b;
}

a:hover,
a:focus {
  color: #9db1b5;
}

.btn-primary {
  color: #fff;
  background-color: #3c636b;
}

.navbar-default {
  background-color: #E7B54C;
}

.btn-primary:hover {
  color: #fff;
  background-color:  #9db1b5;
}

.btn-primary {
  .a:hover{
    color: 000;
  }
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #9db1b5;
  background-color: transparent;
  }

.navbar-toggle:before{
  content: none;
}


